h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #323c41;
}

.cart-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 80vh;
    background-color: rgb(217, 217, 217);
    text-align: left;
}

.cart-headers {
    display: flex;
    align-items: flex-end;
}

.item-count {
    padding-left: 1rem;
    font-size: 1rem;
}


.continue-shopping {
    text-decoration: underline;
}

.continue-p {
    margin-left: auto;
}

.checkout-buttons {
    background-color: orangered;
    border: none;
    width: 90%;
    font-size: 1.2rem;
    border-radius: 0;
}

.product-card {
    background-color: #fff;
    color: #323c41;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 20px;
}

.click-collect {
    color: #d0021b;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;

}

.quantity-button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.199);
    height: 25px;
    width: 25px;
}

.quantity-container {
    display: flex;

}

.quantity-container span {
    margin: 0 0 0 6px;

}

.quantity-container img {
    margin: 50px;
}

.product-price {
    margin-left: auto;
    font-size: 1.5rem;
}

.order-summary {
    background-color: #fff;
    color: #323c41;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 20px;
}

.order-summary h2 {
    font-weight: 800;
}

.sub-total-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.delivery-info {
    color: #4b5960;
    font-weight: 400;
}

.checkout-button-container {
    text-align: center;
}

.payment-methods-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-info {
    text-align: center;
    color: #323c41;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 20px;
}

.cart-text-1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.cart-text-2 {
    font-weight: 600;
    text-decoration: underline;
}

.cart-text-3 {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 20px;
}

.cart-text-4 {
    font-weight: 600;
}

.cart-info-images-container {
    display: flex;
    justify-content: space-between;
}

.cart-info-images-container img {
    width: auto;
    height: 25px;
}

.phone-number {
    text-decoration: underline;
}

.quantity-button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.199);
    height: 25px;
    width: 25px;
}

.quantity-container {
    display: flex;

}

.quantity-container span {
    margin: 0 0 0 6px;

}

.quantity-button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.199);
    height: 25px;
    width: 25px;
}

.checkout-total {
    font-size: 1.5rem;
}

.cart-delete-icon {
    margin-left: 10px;
    margin-top: 2px;
    color: #d0021b;
    text-decoration: none;
}