.cart-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 80vh;
    background-color: rgb(217, 217, 217);
    text-align: left;
}

.cart-headers {
    display: flex;
    align-items: flex-end;
}

.item-count {
    padding-left: 1rem;
    font-size: 1rem;
}


.continue-shopping {
    text-decoration: underline;
}

.continue-p {
    margin-left: auto;
}

.checkout-buttons {
    background-color: orangered;
    border: none;
    width: 90%;
    font-size: 1.2rem;
    border-radius: 0;
}