.StripeElement {
    background-color: white;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;

}

.StripeElement--focus {
    outline: none;
    border-color: #6772e5;
}

/* form {
    display: flex;
    justify-content: space-between;
} */

.StripeElementContainer {
    background-color: fuchsia;
}

.CardElement {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
}

.Heading1 {
    color: rgba(0, 0, 0, 0.712);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px auto 20px auto;
    /* border: 1.5px solid rgba(131, 180, 226, 0.249); */
    display: inline-block;
    font-weight: 800;
    padding: 3px;
    border-radius: 5px;
    font-size: 1.8rem;
}

body {
    background-color: #ced4da;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

}