.HeaderAnimate {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #031303 0%,
            #17281e 29%,
            #121711 67%,
            #070701 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 3rem;
    background-color: orange;
}

.HeroImage {
    width: 100vw;
}

.HeroImageContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('https://hunter-water.imgix.net/assets/src/uploads/images/Building-and-development/plumbers002_191217_204827.jpg?auto=compress%2Cformat&fit=clip&mode=crop&q=80&ixlib=imgixjs-3.5.1&w=1446');
}